.listing {
  padding: 30px;

  .searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .search_input {
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      padding: 8px 0px;
      width: 300px;
    }

    .btn-search {
      font-size: 18px;
      padding: 4px 12px;
      margin: 10px 0px 0px 10px;
      background-color: #969191;
      color: white;
      border: none;
      border-radius: 4px;
    }

    #btn-filter {
      visibility: hidden;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    color: red;
  }

  .filter {
    margin-bottom: 16px;

    input[type="text"] {
      padding: 8px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  .list__container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .pokemon-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-bottom: 32px;
  }

  .error {
    color: red;
    margin-bottom: 16px;
  }
}
@media screen and ( max-width: 768px ) {
  .list__container {
    display: block !important;
  }

  .product__List {
      width: 100%;
      margin-top: 36px;
      padding: 10px;
      min-height: 75vh;
      overflow: scroll;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 82px;
  }

  .search_input {
      max-width: 50vw;
    }
  
  .btn-search {
      background-color: black !important;
  }

  #btn-filter {
      visibility: visible!important;
  }
}
